body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #544837;
    font-size: 16px;
    line-height: 26px;
}

.container {
    margin: 0 auto;
    max-width: 1124px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}

.menu {
    margin-left: auto;
}

.menu__list {
    display: flex;
}

.menu__list-item+.menu__list-item {
    margin-left: 26px;
}

.menu__list-item {
    list-style: none;
}

.menu__list-link {
    font-size: 14px;
    text-decoration: none;
    color: #2f281e;
}

.user-nav {
    margin-left: 50px;
    margin-right: 14;
}

.user-nav__link {
    color: #173A56;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    padding: 11px 23px;
    font-size: 16px;
}

.user-nav__link+.user-nav__link {
    margin-left: 14px;
    background: #FF9900;
    border-radius: 4px;
    border-color: transparent;
    color: #fff;
}

.top__inner {
    background-image: url(../img/image.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 130px 0px 80px;
}

.top__title {
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;
    max-width: 518px;
}

.top__text {
    font-weight: 400;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    max-width: 460px;
}

.top__btn {
    display: inline-block;
    font-weight: 700;
    color: #fff;
    background: #FF9900;
    border-radius: 4px;
    padding: 15px 41px 14px;
    border: none;
    margin-right: 30px;
}

.top__link {
    display: inline-block;
    font-weight: 600;
    color: #FF9900;
    line-height: 24px;
    position: relative;
    padding-left: 25px;
}

.top__link::before {
    position: absolute;
    content: "";
    background-image: url(../img/play.svg);
    width: 17px;
    height: 19px;
    left: 0;
    top: 2px;
}

.title {
    color: #2f281e;
}

.tools {
    padding-top: 110px;
}

.tools__title {
    text-align: center;
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    margin: 0 auto 46px;
}

.tools__items {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px 0;
    margin-bottom: 60px;
}

.tools__item {
    width: 240px;
}


/* .tools__item-img {
    margin-bottom: 30px;
} */

.tools__item-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 13px;
}

.tools__link {
    display: block;
    background: #FF9900;
    border-radius: 4px;
    text-decoration: none;
    width: 175px;
    color: #fff;
    line-height: 24px;
    font-weight: 700;
    margin: 0 auto;
    padding: 15px 32px 14px;
    text-align: center;
}

.tools__inner {
    padding-bottom: 90px;
    background-image: url(../img/#);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.direction {
    padding: 120px 0 100px;
}

.direction__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.direction__item-content {
    max-width: 486px;
}

.direction__item-pretitle {
    margin-bottom: 3px;
}

.direction__item-title {
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    margin-bottom: 22px;
}

.direction__item-title-text {
    margin-bottom: 30px;
}

.direction__item-subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 12px;
}

.direction__item-text {
    margin-bottom: 25px;
}

.direction__list {
    list-style: none;
}

.direction__list-item {
    margin-bottom: 30px;
    padding-left: 65px;
    position: relative;
}

.direction__list-item::before {
    content: "";
    position: absolute;
    background-image: url('img/check.svg');
    width: 35px;
    height: 35px;
    left: 0;
    top: 9px;
}

.team {
    background-image: url(img/team-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.team__inner {
    position: relative;
    padding: 230px 0px 380px;
}

.team__item {
    height: 98px;
    width: 98px;
    position: absolute;
}

.team__box {
    text-align: center;
    max-width: 542px;
    margin: 0 auto;
}

.team__title {
    line-height: 54px;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 22px;
}

.team__text {
    color: #567295;
    margin-bottom: 45px;
}

.team__btn {
    background: #FF9900;
    border-radius: 4px;
    padding: 15px 30px 14px;
    border: none;
    color: #fff;
}

.team__inner-img {
    height: 98px;
    width: 98px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.team__inner-text {
    background-color: #fff;
    border-radius: 25px;
    padding: 14px 15px 15px;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    position: absolute;
    top: -30px;
    right: 75px;
    white-space: nowrap;
}

.team__item-text--right::after,
.team__item-text--right::before,
.team__item-text--left::after,
.team__item-text--left::before {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
}

.team__item-text--right::after,
.team__item-text--left::after {
    width: 17px;
    height: 17px;
    bottom: -5px;
    right: 30px;
}

.team__item-text--right::before {
    width: 9px;
    height: 9px;
    bottom: -20px;
    right: 9px;
}

.team__item-1 {
    right: 95px;
    top: 173px;
}

.team__item-5 {
    left: 0px;
    top: 260px;
}

.team__item-2 {
    bottom: 260px;
    right: 0px;
}

.team__item-4 {
    bottom: 224px;
    left: 210px;
}

.team__item-3 {
    bottom: 135px;
    right: 300px;
}

.team__inner-text .team__item-text--left {
    top: -41px;
    left: 65px;
    right: auto;
}

.team__item-text--left::before {
    right: auto;
    left: 9px;
}

.team__item-text--left::after {
    left: 30px;
    right: auto;
}

.block {
    padding: 50px 0 120px;
}

.block__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 10px;
}

.block__text {
    margin-bottom: 55px;
}

.slider__item-img {
    width: 348px;
    height: 185px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-bottom: 30px;
    object-fit: cover;
}

.slider__item-info {
    margin-bottom: 10px;
    line-height: 28px;
}

.slider__item-title {
    text-decoration: none;
    font-size: 24px;
    line-height: 34px;
    color: #2f281e;
    margin-bottom: 84px;
    transition: all .3s;
}

.slider__item-title:hover {
    color: #FF9900;
}

.slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
}

.slick-dots button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    font-size: 0;
    background: #F2F2F2;
    margin: 0 5px;
    padding: 0;
}

.slick-dots .slick-active button {
    background-color: #FF9900;
}